@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");
body {
  background-color: #ACA3A3;
  font-family: "IBM Plex Sans", sans-serif;
  height: 100vh;
}

input:active {
  outline: none;
}

.music {
  margin-top: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.music-search__box {
  width: 45px;
  height: 45px;
  position: absolute;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
  right: 0 !important;
  top: -20px;
}

.music-search__box input {
  padding: 10px 6px;
  font-size: 16px;
  line-height: 21px;
  background-color: transparent;
  border: none;
  position: absolute;
  left: 45px;
  top: 0;
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
  width: 0;
  color: #FFFFFF;
}

.music-search__box input:active, .music-search__box input:focus {
  outline: none;
}

.music-search__box:hover {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.2);
          box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.2);
  border-radius: 6px;
}

.music-search__box:hover img {
  fill: #fff;
}

.music-search__box img {
  position: absolute;
  top: 50%;
  left: 11px;
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.music-search__box-opened {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.2);
          box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.2);
  border-radius: 6px !important;
  width: 290px !important;
}

.music-search__box-opened input {
  width: 236px;
}

.music-search__box-opened img {
  left: 8;
  width: 18px;
  height: 18px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.music-controle {
  margin-top: 100px;
  margin-bottom: 84px;
  margin-left: 38px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  -o-filter: blur(30px);
  -ms-filter: blur(30px);
  filter: blur(0px);
  border-radius: 50px;
  width: 100px;
  text-align: center;
}

.music-controle img {
  margin-top: 15px;
  margin-bottom: 15px;
}

.music-controle__discovery {
  margin-top: 25px;
  margin-bottom: 25px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  color: #FFFFFF;
  font-size: 16px;
}

.music-player {
  position: relative;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 0.5;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  -o-filter: blur(30px);
  -ms-filter: blur(30px);
  filter: blur(0px);
  height: 156px;
  z-index: 5;
}

.music-content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.music-content__player {
  position: relative;
  z-index: 3;
  left: 500px;
  overflow: hidden;
}

.music-content__player img {
  width: 445px;
}

.music-content__title {
  position: absolute;
  width: 100%;
  z-index: 4;
  left: 250px;
}

.music-content__title h1 {
  font-size: 105px;
  z-index: 4;
  color: #FFFFFF;
}

.music-content__text {
  position: absolute;
  z-index: 2;
  left: 100px;
}

.music-content__text p {
  font-size: 53px;
}

.music-content__circulo {
  background-color: #B19793;
  border-radius: 50%;
  width: 600px;
  height: 600px;
  z-index: 1;
}

.music-list {
  z-index: 999;
  min-height: 100vh;
  width: 40%;
  background-color: #ACA3A3;
  position: absolute;
  right: 0;
  top: 0;
  padding: 44px 0 0 60px;
  opacity: 1;
  overflow: hidden;
}

.music-list h2, .music-list p {
  margin-left: 30px;
  color: #FFFFFF;
}

.music-list h2 {
  font-size: 40px;
  font-weight: bold;
}

.music-list p {
  font-size: 25px;
  font-weight: normal;
  font-family: "IBM Plex Sans", sans-serif;
}

.music-list h1 {
  color: #FFFFFF;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 45px;
}

.music-list img {
  margin-bottom: 40px;
  cursor: pointer;
  width: 90px;
}

.music-list__closed {
  display: none;
}

.music-list__open {
  -webkit-transition: width 2s, height 4s;
  transition: width 2s, height 4s;
}
/*# sourceMappingURL=style.css.map */