@import 'mixis';

body{
    background-color: $color1;
    font-family: $font1;
    height: 100vh;
    // overflow: hidden;
}

input{
    &:active{
        outline: none;
    }
}

.music{
    margin-top: 53px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-search{
        &__box{
            width: 45px;
            height: 45px;
            position: absolute;
            border-radius: 6px;
            cursor: pointer;
            transition: 250ms ease;
            right: 0 !important;
            top: -20px;

            input{
                padding: 10px 6px;
                font-size: 16px;
                line-height: 21px;
                background-color: transparent;
                border: none;
                position: absolute;
                left: 45px;
                top: 0;
                transition: 250ms ease;
                width: 0;
                color: $color2;
                &:active, &:focus{
                    outline: none;
                }
            }

            &:hover{
                background-color: rgba($color2, 0.5);
                box-shadow: 0px 4px 12px rgba($color2, 0.2);
                border-radius: 6px;

                img{
                    fill: #fff;
                }
            }

            img{
                position: absolute;
                top: 50%;
                left: 11px;
                transition: 250ms ease;
                transform: translateY(-50%);
            }

            &-opened{
                background-color: rgba($color2, 0.5);
                box-shadow: 0px 4px 12px rgba($color2, 0.2);
                border-radius: 6px !important;
                width: 290px !important;

                input{
                    width: 236px;
                }

                img{
                    left: 8;
                    width: 18px;
                    height: 18px;
                    transform: translateY(-50%);
                }
            }
        }
    }

    &-controle{
        margin-top: 100px;
        margin-bottom: 84px;
        margin-left: 38px;
        

        background-color: rgba($color2, 0.5);
        backdrop-filter: blur(50px);
        -webkit-filter: blur(30px);
        -moz-filter: blur(30px);
        -o-filter: blur(30px);
        -ms-filter: blur(30px);
        filter: blur(0px);

        border-radius: 50px;
        width: 100px;
        text-align: center;

        img{
            margin-top: 15px;
            margin-bottom: 15px;
        }

        &__discovery{
            margin-top: 25px;
            margin-bottom: 25px;
            transform: rotate(270deg);
            color: $color2;
            font-size: 16px;
        }
    }

    &-player{
        position: relative;
        background: $color2 0% 0% no-repeat padding-box;
        opacity: 0.5;
        backdrop-filter: blur(50px);
        -webkit-filter: blur(30px);
        -moz-filter: blur(30px);
        -o-filter: blur(30px);
        -ms-filter: blur(30px);
        filter: blur(0px);
        height: 156px;
        z-index: 5;
    }

    &-content{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        &__player{
            position: relative;
            z-index: 3;
            left: 500px;
            overflow: hidden;
            img{
                width: 445px;
            }
        }

        &__title{
            position: absolute;
            width: 100%;
            z-index: 4;
            left: 250px;

            h1{
                font-size: 105px;
                z-index: 4;
                color: $color2;
            }
        }

        &__text{
            position: absolute;
            z-index: 2;
            left: 100px;
            p{
                font-size: 53px;
            }
        }
        
        &__circulo{
            // position: relative;
            background-color: $color3;
            border-radius: 50%;
            width: 600px;
            height: 600px;
            z-index: 1;
        }
    }

    &-list{
        z-index: 999;
        // height: 100%;
        min-height: 100vh;
        width: 40%;
        background-color: $color1;
        // justify-content: space-around;
        position: absolute;
        right: 0;
        top: 0;
        padding: 44px 0 0 60px;
        opacity: 1;
        overflow: hidden;
        
        h2, p{
            margin-left: 30px;
            color: $color2;
            
        }
        h2{
            font-size: 40px;
            font-weight: bold;
        }
        p{
            font-size: 25px;
            font-weight: normal;
            font-family: $font1;
        }
     h1{
         color: $color2;
         font-size: 25px;
         font-weight: bold;
         margin-bottom: 45px;
     }   
     img{
         margin-bottom: 40px;
        cursor: pointer;
        width: 90px;
     }

     &__closed{
         display: none;
     }

     &__open{
         transition: width 2s, height 4s;
        }
    }
}